@import 'fonts.scss';
$padding-left: 20px;

@mixin flexbox { display: -webkit-box; display: -moz-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
@mixin flexbox_row { display: -webkit-box; display: -moz-box; display: -webkit-flex; display: -ms-flexbox; display: flex; flex-direction: row; }

body, html { margin: 0; padding: 0; width: 100%; height: 100%; }
body { font-family: 'Avenir LT Book'; }
.main { box-sizing: border-box; padding: 20px 20px $padding-left 20px; width: 100%; min-height: 100%; }
    .search_form { @include flexbox; flex-direction: column; align-items: center; }
        label[for=search_term] { font-size: 1.2em; }
        input.search_term { width: 30%; max-width: 400px; height: 40px; font-size: 30px; text-align: center; border: 1px solid grey; align-self: flex-start; border-radius: 0 30px 3px 0; margin-left: (-$padding-left); } 
        .btn_submit { border: 1px solid black; background: lightblue; padding: 20px; margin: 20px; } 

    li.ticker_sub { list-style: none; }
    li.ticker_sub_1 { @include flexbox_row; height: 150px; align-items: center;
        .user_image { min-width: 70px; height: 70px; background-color: goldenrod; }
        .actual_copy_1 { box-sizing: border-box; padding: 0 20px; @include flexbox_row(); text-align: left;  }
            .user_name_1 { font-size: 1.4em; color: #003eff; font-family: 'Avenir LT Heavy'; font-weight: 900; margin-right: 10px; }
            .tweet_copy_1 { vertical-align: center; }
    }
    .notification { background: lightgreen; border-radius: 0px 0px 15px 15px; width: 200px; height: 150px; position: absolute; top: 0; right: 50px; 
        .user_name_2 { color: red; font-family: 'Avenir LT Heavy' }
    }